.TimePickerContainer {
    margin: 2px;
    position: relative;
    display: flex;
    font-size: 1rem;
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 7px;
    width: 13vw;
}

.FirstIcon {
    /* background-color: cyan; */
    padding: 5% 0 2% 5%;
    font-size: 1.15rem;
    text-align: center;
    align-items: center;
    /* height: 9vh; */
    width: 3vw;
    color: rgb(0, 159, 227);
}

.LabelandTimeSelect {
    /* background-color: red; */
    /* height: 9vh; */
    width: 8vw;
    display: flex;
    flex-direction: column;
}

.LastIcon {
    font-size: 1.1rem;
    padding: 7% 7% 7% 0;
    text-align: center;
    /* background-color: green; */
    width: 3vw;
}

.label {
    text-align: left;
    padding-top: 5%;
    padding-left: 10%;
    width: 8vw;
    height: 50%;
    font-size: .8rem;
    color: #919698;
    /* background-color: brown; */
}

.TimePickerSelect {
    width: 8vw;
    height: 50%;
    /* background-color: rgb(120, 42, 165); */
}

select {
    background-color: transparent;
    border: none;
    width: 10vw;
    height: 100%;
    -webkit-appearance: none;
    text-align: center;
    font-family: ''system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';';
    font-style: normal;
    font-weight: 500;
    color: #475054;
    font-size: 1rem;
}

.DropDown {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 7px;
    width: 13vw;
    height: 70vh;
    overflow-y: auto;
    z-index: 9;
}

.SelectedTime {
    color: #475054;
    font-weight: 600;
    text-align: left;
    font-size: 1rem;
    padding-left: 1vw;
    padding-top: .2%;
}

.DropDownOption {
    text-align: center;
    background: #FFFFFF;
    /* border: 1px solid rgba(40, 40, 40, 0.3); */
    height: 4vh;
    padding: 12px;
    font-size: 1rem;
    z-index: 9;
}

.AgePickerValue {
    padding: .8em 0 .8em 0;
    height: 100%;
}

.DatePickerContainer {
    margin: 2px;
    position: relative;
    display: flex;
    font-size: 1rem;
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 7px;
    width: 23vw;
}

.LabelandDateSelect {
    /* background-color: red; */
    /* height: 9vh; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelDate {
    text-align: left;
    padding-top: 2%;
    padding-left: 9%;
    width: 25vw;
    height: 50%;
    font-size: .8rem;
    color: #919698;
    /* background-color: brown; */
}

.DatePickerSelect {
    width: 25vw;
    height: 50%;
    /* background-color: rgb(120, 42, 165); */
}

.DropOff_label {
    margin-left: 2.7vw;
}

.autoSuggestDropDownContainer {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8vh;
}

.autoSuggestIndividual {
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 5px;
}

.autoSuggestName {
    font-size: 1rem;
    color: #919698;
}

.autoSuggestFullName {
    font-size: .7rem;
    color: #919698;
}