body {
  margin: 0;
}

.header-main-mob {
  background-color: whitesmoke;
  width: 100vw;
}
.header-main-mob .header-top-mob {
  align-items: center;
  background-color: #F4F5F9;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header-main-mob .header-top-mob .contact-info {
  width: 70%;
}
.header-main-mob .header-top-mob .contact-info img {
  width: 50%;
  margin: 25px;
}
.header-main-mob .header-top-mob select {
  background-color: transparent;
  color: whitesmoke;
  float: right;
  width: 65px;
  height: 32px;
  padding-right: 10px;
  padding-left: 2px;
  margin-right: 0px;
  border-radius: 5px;
}
.header-main-mob .header-top-mob option {
  background-color: white;
  color: black;
}
.header-main-mob .header-top-mob .menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 30%;
  height: 100%;
  color: #ffffff;
}
.header-main-mob .header-top-mob .menu-bar .menu-icon {
  position: relative;
  font-size: 33px;
  width: 100%;
  height: 20%;
  cursor: pointer;
  background-color: transparent;
}
.header-main-mob .header-top-mob .menu-bar .menu {
  position: relative;
  font-size: larger;
  font-weight: 500;
  height: 80%;
  top: 60px;
  width: 100%;
  background-color: #618f85;
  overflow: hidden;
  overflow-y: auto;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.header-main-mob .header-top-mob .menu-bar .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-main-mob .header-top-mob .menu-bar .menu li {
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.header-main-mob .header-top-mob .menu-bar .menu li :hover {
  color: #333;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies {
  font-weight: bold;
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: 1px #e4dfdf solid;
  border-radius: 7px;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector {
  cursor: pointer;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector__control {
  background-color: transparent;
  color: white;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector__placeholder {
  color: white;
  font-size: x-small;
  width: 12vw;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector__single-value {
  width: 12vw;
  background-color: transparent;
  font-size: x-small;
  font-weight: bolder;
  color: white;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector__menu {
  width: 100%;
  font-size: x-small;
  background-color: transparent;
  overflow: hidden;
  transition: width 500px 0.5s ease-in-out;
  cursor: pointer;
}
.header-main-mob .header-top-mob .menu-bar .menu li .currancies .currancy-selector__option {
  width: 100%;
  font-size: x-small;
  cursor: pointer;
  color: white;
  background-color: rgb(100, 154, 175);
  word-spacing: 0.4em;
  overflow: hidden;
}
.header-main-mob .header-top-mob .menu-bar .menu.open {
  position: relative;
  width: 100%;
  height: 80%;
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
  font-size: larger;
}
.header-main-mob .header-bottom-mob {
  width: 50%;
  height: 50%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-main-mob img.header-bottom-mob {
  width: 90px;
  height: 45px;
  margin-left: 8%;
}/*# sourceMappingURL=HeadNavigationMobile.css.map */