.currency-container {

    width: 10%;
    height: 100%;

    .currency-selected {
        @include flexbox(flex, row, space-around);
        width: 5vw;
        height: 5vh;
        align-items: flex-start;
        cursor: pointer;

        img {
            width: 1.5vw;
            height: 3vh;
        }

        label {
            font-size: 0.7rem;
            font-weight: 500;
        }
    }

    .currency-selector {
        @include flexbox(flex, column, unset);
        width: 520px;
        height: 341px;
        position: absolute;
        align-items: center;
        right: 33vw;
        top: 10vh;
        background-color: $coomonWhiteColor;
        border-radius: 10px;

        .currency-titlebar {
            @include flexbox(flex, row, space-around);
            width: 100%;
            height: 8vh;
            align-items: center;

            label {
                position: absolute;
                width: 146px;
                height: 18px;
                top: 28px;
                left: 38px;
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
            }

            button {
                width: 19px;
                height: 19px;
                top: 15px;
                left: 488px;
                padding: 3.96px 3.96px 3.96px 3.96px;
                background: transparent;
                border: transparent;
                cursor: pointer;
                position: absolute;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .currency-searchbar {
            @include flexbox(flex, row, space-around);
            width: 459px;
            height: 46px;
            border-radius: 50px;
            align-items: center;
            background-color: $lightBlueColor;


            svg {
                position: absolute;
                width: 12.03px;
                height: 12px;
                top: 70px;
                left: 58.05px;
                padding: 1px 1.51px 1.5px 1.01px;
                color: $searchbarInputsColor;
            }

            input {
                width: 400px;
                position: absolute;
                height: 42px;
                top: 55px;
                left: 30px;
                padding-left: 55px;
                border-radius: 50px;
                border: 0.5px solid $transparentColor;
                background: $transparentColor;
                color: $searchbarInputsColor;
            }
        }

        .currency-list {
            width: 35vw;

            .popular-currency-selector {
                @include flexbox(flex, column, space-around);

                label {
                    position: absolute;
                    width: 114px;
                    height: 18px;
                    top: 128px;
                    left: 64px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $searchbarInputsColor;
                }

                .popular-currencies {
                    position: relative;
                    top: 35px;
                    cursor: pointer;

                    ul {
                        @include flexbox(flex, unset, space-around);
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;

                        li {
                            @include flexbox(flex, row, space-around);
                            width: 216px;
                            height: 56px;
                            top: 15px;
                            left: 38px;
                            border-radius: 50px;
                            align-items: center;
                            background: $lightBlueColor;
                            position: absolute;
                            align-items: center;

                            img {
                                width: 17px;
                                height: 17px;
                                cursor: pointer;
                                //                                 position: absolute;                                                
                                // top: 175px;
                                // left: 62px;
                                padding: 1.0625px
                            }

                            .popular-currency {
                                @include flexbox(flex, column, center);
                                width: 10vw;
                                height: 100%;
                                align-items: flex-start;
                                cursor: pointer;

                                label {
                                    position: unset;
                                    width: 200px;
                                    height: 18px;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 18px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    padding: 0%;
                                    color: black;
                                    cursor: pointer;
                                }

                                small {
                                    @include flexbox(flex, row, unset);
                                    width: 46px;
                                    height: 18px;
                                    top: 184px;
                                    left: 89px;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 18px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: #757575;
                                }
                            }

                            small {
                                width: 12px;
                                height: 12px;
                                padding: 0.5px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .other-currency-selector {
                @include flexbox(flex, column, space-around);
                label {
                    position: absolute;
                    width: 114px;
                    height: 18px;
                    top: 225px;
                    left: 64px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $searchbarInputsColor;
                }

                .other-currencies {
                    position: relative;
                    top: 140px;
                    cursor: pointer;
                    ul {
                        @include flexbox(flex, unset, space-around);
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                        margin: 0;
                        padding: 0;

                        li {
                            @include flexbox(flex, row, space-around);
                            width: 15vw;
                            height: 8vh;
                            align-items: center;
                            cursor: pointer;

                            img {
                                width: 1.5vw;
                                height: 3vh;
                            }

                            .other-currency {
                                @include flexbox(flex, column, center);
                                width: 10vw;
                                height: 100%;
                                align-items: flex-start;

                                label {
                                    font-size: 0.9rem;
                                    font-weight: 600;
                                    padding: 0%;
                                    color: black
                                }

                                small {
                                    @include flexbox(flex, row, unset);
                                    font-size: 0.7rem;
                                    width: 5vw;
                                    height: unset;
                                }
                            }

                            small {
                                width: 1vw;
                                height: 2vh;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}