.CarCardContainer {
    width: 100%;
    display: flex;
    gap: 2vw;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    border-radius: 8px;
    margin: 5px;
}

.CarCardImageContainer {
    max-width: 22%;
    min-width: 22%;
    /* height: 30%; */
    background: #F4F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.CarCardImage {
    /* width: 351px;
    height: 184px; */
    width: 100%;
    background: #F4F5F9;
    image-rendering: auto;
}

.carFacilities {
    display: flex;
    gap: 12px;
}

.CarInfo {
    max-width: 22%;
    min-width: 22%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 3vh 0 3vh 0;
    text-overflow: ellipsis;
}

.ViewCarInfo {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #009FE3;
}

.Icon {
    display: flex;
    gap: 3px;
}

h1 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    color: #1A2B48;
}

h2 {
    font-size: .7em;
    color: #919698;
    padding: 0;
    margin: 0;
}

.VehicleFeatures {
    max-width: 22%;
    min-width: 22%;
    display: flex;
    flex-direction: column;
    gap: .7em;
    padding: 2em 0 2em 0;
}

.IndividualFeature {
    font-size: .8rem;
    display: flex;
    gap: .3em;
}

.PriceAndPayBtn {
    max-width: 22%;
    min-width: 22%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-items: flex-end;
    padding: 1em 1em 1em 1em;
    text-align: end;
    justify-content: end;
    gap: .7em;
}

.payNowButton {
    text-align: center;
    background: #3EA739;
    border-radius: 7px;
    font-size: 1em;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    padding: 1em 2em 1em 2em;
}

.StaticTextofTaxInclusion {
    font-size: .6em;
}